{% extends "voter_analytics/base.html" %}

{% block title %}Voter Detail{% endblock %}

{% block content %}
<h2>Voter Detail for {{ voter.first_name }} {{ voter.last_name }}</h2>

<p>Address: {{ voter.street_number }} {{ voter.street_name }}, Apt {{ voter.apartment_number }}</p>
<p>Zip Code: {{ voter.zip_code }}</p>
<p>Date of Birth: {{ voter.date_of_birth }}</p>
<p>Party Affiliation: {{ voter.party_affiliation }}</p>
<p>Voter Score: {{ voter.voter_score }}</p>

<h3>Voting History</h3>
<p>2020 State Election: {{ voter.v20state }}</p>
<p>2021 Town Election: {{ voter.v21town }}</p>
<p>2021 Primary: {{ voter.v21primary }}</p>
<p>2022 General Election: {{ voter.v22general }}</p>
<p>2023 Town Election: {{ voter.v23town }}</p>

<a href="https://www.google.com/maps/search/{{ voter.street_number }}+{{ voter.street_name }}+{{ voter.zip_code }}">View Address on Google Maps</a>
<br>
<a href="{% url 'voters' %}">Back to Voter List</a>
{% endblock %}