{% extends 'mini_fb/base.html' %}

{% block content %}
    <h1>{{ profiles.first_name }} {{ profiles.last_name }}</h1>
    <table>
        <tr>
            <th>Email</th>
            <td>{{ profiles.email }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ profiles.city }}</td>
        </tr>
        <tr>
            <th>Profile Image</th>
            <td><img src="{{ profiles.profile_image_url }}" alt="Profile Image" style="width:300px;height:auto;"></td>
        </tr>
    </table>
     <!-- Display friends -->
    <!-- Set some if then relationships to update accordingly hmm!-->

    {% if user.is_authenticated and user == profiles.user %}
    <a href="{% url 'news_feed'}">View News Feed</a>
    {% endif %}

     <h2>Friends</h2>
        <table>
            <thead>
                <tr>
                    <th>Profile Image</th>
                    <th>Friend's Name</th>
                </tr>
            </thead>
            <tbody>
                {% for friend in profiles.get_friends %}
                    <tr>
                        <td>
                            <img src="{{ friend.profile_image_url }}" alt="{{ friend.first_name }}'s profile image" style="width:50px; height:50px; border-radius:50%;">
                        </td>
                        <td>
                            <a href="{% url 'show_profile' friend.pk %}">{{ friend.first_name }} {{ friend.last_name }}</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No friends yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <!-- Status Messages Section Outside the Table -->
    {% if user.is_authenticated and user == profiles.user %}
        <a href="{% url 'friend_suggestions'%}">View Friend Suggestions</a>
    {% endif %}
    <h2>Status Messages</h2>
    <ul>
        {% for message in profiles.get_status_messages %}
            <li>
                <p>{{ message.timestamp|date:"M d, Y H:i" }}: {{ message.message }}</p>
                {% if user.is_authenticated and user == profiles.user %}
                    <a href="{% url 'update_status' message.pk %}">Update</a>
                    <a href="{% url 'delete_status' message.pk %}">Delete</a>
                {% endif %}
                {% for img in message.get_images %}
                    <img src="{{ img.image_file.url }}" alt="Image for {{ message.message }}" style="width:200px;height:auto;">
                {% endfor %}
            </li>
        {% empty %}
            <p>No status messages posted</p>
        {% endfor %}

        
        
    </ul>
    {% if user.is_authenticated and user == profiles.user %}
        <a href="{% url 'create_status'%}">Create a Status</a>
        <a href="{% url 'update_profile'%}">Update Profile</a>
    {% endif %}
    <a href="{% url 'show_all_profiles' %}">Back to Profiles</a>
{% endblock %}