{% extends 'mini_fb/base.html' %}

{% block content %}
    <h1>{{ profiles.first_name }} {{ profiles.last_name }}</h1>
    <table>
        <tr>
            <th>Email</th>
            <td>{{ profiles.email }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ profiles.city }}</td>
        </tr>
        <tr>
            <th>Profile Image</th>
            <td><img src="{{ profiles.profile_image_url }}" alt="Profile Image" style="width:300px;height:auto;"></td>
        </tr>
    </table>

    <!-- Status Messages Section Outside the Table -->
    <h2>Status Messages</h2>
    <ul>
        {% for message in profiles.get_status_messages %}
            <li>
                <p>{{ message.timestamp|date:"M d, Y H:i" }}: {{ message.message }}</p>
                <a href="{% url 'update_status' message.pk %}">Update</a>
                <a href="{% url 'delete_status' message.pk %}">Delete</a>
                {% for img in message.get_images %}
                    <img src="{{ img.image_file.url }}" alt="Image for {{ message.message }}" style="width:200px;height:auto;">
                {% endfor %}
            </li>
        {% empty %}
            <p>No status messages posted</p>
        {% endfor %}

        
        
    </ul>
    <a href="{% url 'create_status' profiles.pk %}">Create a Status</a>
    <a href="{% url 'update_profile' profiles.pk %}">Update Profile</a>
    <a href="{% url 'show_all_profiles' %}">Back to Profiles</a>
{% endblock %}